In [6]:
from env import host, username, password
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from scipy import stats
np.random.seed(123)

In [ ]:
l = 2
cust = stats.poisson(l)

cust.pmf(0)

In [ ]:
cust.sf(2)

In [ ]:
cust.sf(0)

In [ ]:
grades = stats.norm(3, .3)
grades.isf(.05)

In [ ]:
grades.ppf(.15)

In [ ]:
range3 = grades.ppf([.2, .3])
range3

In [ ]:
grades.cdf(3.5)

In [ ]:
rate = .02
trials = 4326
clicks = 97
stats.binom(trials, rate).sf(96)

In [ ]:
stats.binom(60, .01).sf(0)

In [ ]:
stats.binom(59, .03).sf(0)

In [ ]:
lunch = 60
eat = 15
food = 10 

wait= 15 * 2
stddev = 3 *2

totwait = lunch - food - eat
stats.norm(wait, stddev).cdf(totwait)

In [3]:
from env import host, username, password
def get_db_url(username,password,host,db_name):
    return f'mysql+pymysql://{username}:{password}@{host}/{db_name}'

In [4]:
emp_db = get_db_url(username,password,host,"employees")

In [7]:
query = 'SELECT * FROM salaries WHERE salaries.to_date > now()'
salaries = pd.read_sql(query, emp_db)

In [8]:
mean = salaries.salary.mean()
std_dev = salaries.salary.std()
stats.norm(mean, std_dev).cdf(60000)
emp_dist = stats.norm(mean,std_dev)

In [ ]:
stats.norm(mean, std_dev).sf(95000)

In [ ]:
emp_dist.cdf([65000, 80000])